{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morgan's Website</title>
    <style>
	body {
	    padding: 0 2rem;
	    margin: 0;
	    max-width: 34rem;
	    margin: 64px auto;
	}
	section {
	    margin: 32px 0;
	}
    </style>
</head>
<body>
    {{template "content" .}}
    <footer>
	<hr />
        <p>Time spent processing your request: {{.ProcessingTime}}</p>
        <p>Source code for this website <a href="https://github.com/morgangallant/web">is on github</a></p>
    </footer>
</body>
</html>
{{end}}
