{{define "content"}}
<header>
    <section>
        <h3>Morgan Gallant</h3>
	<p>Welcome to my corner of the internet. I'm an engineer, and I'm currently doing some open-source work in <a href="https://ziglang.org">Zig</a>. You can reach me at <a href="mailto:morgan@morgangallant.com">morgan@morgangallant.com</a>.</p>
    </section>
</header>
<section>
    <p>Quick links</p>
    <ul>
        <li>Twitter: <a href="https://twitter.com/morgallant">@morgallant</a></li>
        <li>GitHub: <a href="https://github.com/morgangallant">morgangallant</a></li>
    </ul>
</section>
<section>
    <p>Recent blog posts</p>
    {{if not .RecentPosts}}
    <p>Nothing to see here folks!</p>
    {{else}}
    <ul>
        {{range .RecentPosts}}
            <li><a href="{{.Slug}}">{{.Title}}</a></li>
        {{end}}
    </ul>
    {{end}}
    <p><a href="/blog">See all posts</a> or get the <a href="/feed.xml">RSS feed</a>.</p>
</section>
{{end}}
