{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morgan's Website</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        body {
            max-width: 960px;
            margin: 0 auto;
            padding: 1em;
        }
    </style>
</head>
<body>
    {{template "content"}}
    <footer>
        <p>Current year: {{.CurrentYear}}</p>
        <p>Time spent processing your request: {{.ProcessingTime}}</p>
        <p>Source code for this website <a href="https://github.com/morgangallant/web">is on github</a></p>
    </footer>
</body>
</html>
{{end}}