{{define "content"}}
<header>
    <h3>Morgan Gallant</h3>
    <p>Welcome to my corner of the internet. I'm an engineer, and I currently work at <a href="https://operand.ai">Operand</a>. You can reach me at <a href="mailto:morgan@morgangallant.com">morgan@morgangallant.com</a>.</p>
</header>
<section>
    <p>Quick links</p>
    <ul>
        <li>Twitter: <a href="https://twitter.com/morgallant">@morgallant</a></li>
        <li>GitHub: <a href="https://github.com/morgangallant">morgangallant</a></li>
    </ul>
</section>
<section>
    <p>Recent blog posts</p>
    <ul>
        <!-- todo -->
    </ul>
    <p><a href="/blog">See all posts</a> or get the <a href="/feed.xml">RSS feed</a></p>.
</section>
{{end}}